<ion-grid>
  <ion-row>
    <ion-item-divider>
      Comments
    </ion-item-divider>

    <ion-col size="12">
      <div class="comment">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img [src]="post?.picture?.thumbnail" />
          </ion-avatar>
          <ion-label class="ion-text-wrap">
            <span>
              <b>
                {{ post?.name?.first + " " + post?.name?.last }}
              </b>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </span>
          </ion-label>
        </ion-item>
        <ion-item lines="none" *ngFor="let comment of post?.commentList">
          <ion-avatar slot="start">
            <img
              [src]="comment?.picture?.thumbnail"
              (error)="handleImgError($event)"
            />
          </ion-avatar>

          <ion-label class="ion-text-wrap">
            <b>
              {{ comment?.user }}
            </b>
            <span>
              {{ comment?.comment }}
            </span>
          </ion-label>
        </ion-item>
      </div>
      <div>
        <ion-item>
          <ion-input
            placeholder="add comment"
            [(ngModel)]="post.comment"
            slot="start"
          >
          </ion-input>

          <ion-button
            fill="clear"
            slot="end"
            (click)="comment(post, post.comment)"
            [disabled]="!post.comment"
          >
            Post
          </ion-button>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
